mixin select(name, title, ...items)
    fieldset.select(class=name)
        div(tabindex="0").select_current
            input(type="radio", id=name, value=title, name=name, checked)
            span= title
            each item, index in items
                //- - index == 0 ? checked = true : checked = false
                input(type="radio", id=name + '_' + index, value=item, name=name)
                span= item
            div.arrow
                include ../../../images/select_arrow.svg
        div.select_list
            block
            each item, index in items
                label(for=name + '_' + index)= item

mixin project(title, image)
    a(href="project.html").project
        div.preview
            img(src=image, alt=title)
            div.tags
                span Международные проекты
                span Остров
                span 2025
        div.text
            div.main_info
                h5= title
                span 15м2
            div.additional_info
                div.info_overflow
                    div.info_wrap
                        span 2025, Сочи
                        span Gastreet Show